.storyPage {
    max-width: 100%;
    margin: 0 auto;
}

.storyHeading {
    margin-left: 15vw;
    margin-right: 15vw;
    color: white;
    margin-top:1vw;
}

.storyHeading h2 {
    font-size: 2em;
}

.timelineContainer {
    margin-left: 15vw;
    margin-right: 15vw;
    position: relative;
    padding: 2rem 0;
    margin-bottom: 10vh;
}

.eventText img {
    width: 98%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    height: 30vh;
    padding: 2px;
}

.timelineContainer::before {
    content: '';
    position: absolute;
    margin-left: -3px;
    border-left: 3px solid white;
    animation: moveline 15s linear forwards;
}

.eventText h2 {
    font-weight: 600;
    margin-bottom: 1px;
}

p {
    margin-top: 5px;
}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.timelineYear:nth-child(1) {
    animation-delay: 0.5s;
}

.timelineYear:nth-child(2) {
    animation-delay: 4s;
}

.timelineYear:nth-child(3) {
    animation-delay: 6.5s;
}

.timelineYear:nth-child(4) {
    animation-delay: 9s;
}

.timelineYear:nth-child(5) {
    animation-delay: 11s;
}

.arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: -10px;
    z-index: 1;
    left: 2px;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

small {
    font-size: small;
}

.timelineYear {
    margin: 4rem 2rem;
    opacity: 0;
    animation: movedown 1s linear forwards;
}

.year {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
}

.events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.timelineEvent {
    background-color: white;
    border-radius: 8px;
    display: flex;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(30px);
}

@media (max-width: 800px) {
    .events {
        grid-template-columns: repeat(1, 1fr);
    }

    .arrow {
        left: -25px;
        top: 3px;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-right: 15px solid white;
    }

    .timelineYear:nth-child(1) {
        animation-delay: 0.25s;
    }

    .timelineYear:nth-child(2) {
        animation-delay: 5.5s;
    }

    .timelineYear:nth-child(3) {
        animation-delay: 8s;
    }

    .timelineYear:nth-child(4) {
        animation-delay: 10.5s;
    }

    .timelineYear:nth-child(5) {
        animation-delay: 12s;
    }
}