
.formContainer {
    display: grid;
    place-items: center;
    background-color: #374a3c;
    width: 50vw;
    margin: 0 auto;
    border-radius: 8px;
    padding: 13px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 1em 1em;
    position: relative;
    margin-bottom: 1.5rem;
    background-color: white;
}

legend {
    padding: 1 10px;
    font-weight: bold;
    background-color: white;
    position: absolute;
    color: #263329;
    top: 0;
    left: 1em;
    transform: translateY(-50%);
    border-radius: 5px;
    padding: 2px 5px;
}


label {
    display: inline-block;
    margin-top: 1em;
}

.contactLabel {
    width: 100px;
}

.error {
    color: red;
    display: flex;
    font-size: 13px;
}

.success {
    display: block;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 40vw;
    padding: 30px;
}

.formSubmit {
    font-size: large;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 5px;
    border-radius: 8px;
}

.formSubmit:hover {
    cursor: pointer;
    background-color: #374a3c;
    color: white;
}

@media (max-width: 750px) {
    .formContainer {
        width: 80vw;
    }
    label {
        width: 90%;
        margin-top: 1.5em;
    }
}

