.galleryPage {
  max-width: 70%;
  margin: 0 auto;
  color: white;
}

.galleryHeading {
  font-size: 2em;
  color: white;
  margin-top: 1vw;
}

#imgContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  margin-top: 1vw;
}

.galleryImages {
  width: 100%;
  height: 38vh;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  padding: 2px;
  transition: transform 0.9s ease, box-shadow 0.2s ease;
}

.galleryImages:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.lightbox {
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightboxGrid {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  gap: 10px;
  width: 100%;
  max-width: 90%;
}

.lightbox.hidden {
  display: none;
}

.prev {
  grid-column: 1;
  grid-row: 1;
  font-size: 40px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.lightbox-content {
  grid-column: 2;
  grid-row: 1;
  max-width: 100%;
  max-height: 80vh;
  border-radius: 5px;
}

.next {
  grid-column: 3;
  grid-row: 1;
  font-size: 40px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}


.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

#caption {
  grid-column: 2;
  grid-row: 2;
  margin-top: 15px;
  text-align: center;
  color: #ccc;
  font-size: 18px;
}

@media (max-width: 750px) {
  #imgContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 7px;
    margin-top: 1vw;
  }
}